.corner{
    position:fixed;

    width:70px;
    height:70px;

    border-color:#4DBDFF;

    opacity:.55;

    pointer-events:none;

    animation:borderPulse 4s ease-in-out infinite;
}

.topLeft{

    top:18px;
    left:18px;

    border-top:3px solid;
    border-left:3px solid;
}

.topRight{

    top:18px;
    right:18px;

    border-top:3px solid;
    border-right:3px solid;
}

.bottomLeft{

    bottom:18px;
    left:18px;

    border-left:3px solid;
    border-bottom:3px solid;
}

.bottomRight{

    bottom:18px;
    right:18px;

    border-right:3px solid;
    border-bottom:3px solid;
}

@keyframes borderPulse{

    0%{

        opacity:.35;
    }

    50%{

        opacity:1;
    }

    100%{

        opacity:.35;
    }

}